#forms { padding: 20px; }
div.roster { height: 100px; }
div.roster ul#a_team { left: 0; }
div.roster ul#b_team { right: 0; }
#roster > div {
   width: 200px;
   height: 200px;
   float: left;
   cursor: pointer;
}
#roster {
   margin-bottom: 6em;
}
#roster img {
   width: 100%;
   height: 100%;
}
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}
main {
   flex: 1 0 auto;
}
footer {
   position: fixed;
   height: 3em;
   font-size: 2em;
   width: 100%;
   bottom: 0;
}
footer div {
   width: 100%;
   text-align: center;
}
footer span {
   display: block;
   bottom: 0;
   width: 100px;
}
footer a {
   z-index: 2000 !important;
   position: absolute !important;
   width: 40px;
   text-align: center;
   bottom: 25px;
   left: 20px;
}
.hide-picks .drafted,
.hide-picks .drafted {
   display: none;
}
#roster .drafted,
#roster .banned {
   cursor: not-allowed;
   opacity: 0.3;
}
.picked {
}
#a_team, #b_team {
   padding: 0;
}
#a_team h4, #b_team h4 {
   font-size: 1.2em;
   margin: 3px 0;
   float: left;
   padding-top: 20px;
}
#a_team img, #b_team img {
   float: left;
}
.clearBans {
   clear: both;
}
li {
   padding: 0.25rem 0.75rem;
}
li i:before {
   width: 30px;
   height: 30px;
   display: inline-block;
   background-size: 30px 30px;
   content: "";
   margin-bottom: -7px;
}

#overlay {
   position: fixed;
   width: 100%;
   height: 100%;
   padding-top: 75px;
   top: 0;
   background: rgba(255, 255, 255, 0.5);
}
#overlay img {
   width: 250px;
   height: 250px;
}
#overlay #a_players img {
   float: right;
}
#overlay #a_players button {
   clear: both;
   float: right;
   display: block;
}
#overlay #b_players img {
   float: left;
}
#overlay #b_players button {
   clear: both;
   float: left;
   display: block;
}
.about {
   padding: 1rem;
}
